<% content_for :header do %>
<% form_for :seller, url(:sellers, :create), class: 'form-inline', style: 'text-align: center;' do |f| %>
  <div class='input-append'>
    <%= f.text_field :store_url, placeholder: 'http://newbalance.tmall.com', required: true %>
    <%= f.submit '添加店铺', class:'btn btn-warning' %>
  </div>
<% end %>
<% end %>
<h3>店铺列表</h3>
<table id="sellers" class="table table-bordered">
  <thead>
    <% if @sellers.total_count > @page_size %>
      <tr>
        <td style="text-align:right;" colspan='4'>
         第 <%= @sellers.offset_value + 1 %> - <%= @sellers.offset_value + @page_size %>，共 <%= @sellers.total_count %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>店铺名称</th>
      <th>主营</th>
      <th>公司</th>
      <th>最后同步时间</th>
    </tr>
  <thead>
  <% unless @sellers.empty? %>
    <tbody>
    <% @sellers.each do |seller| %>
        <tr>
          <td>
            <%= link_to seller.seller_nick, url(:sellers, :show, seller_id: seller._id) %>
            <%= link_to "<i class='icon-time'></i>", url(:resque, :index, seller_id: seller._id) %>
            <%= link_to "<i class='icon-share'></i>", seller.store_url, target:'_blank' %>
          </td>
          <td><%= link_to seller.label, url(:sellers, :index, label: seller.label) %></td>
          <td><%= seller.company %></td>
          <td><%= local_time(seller.timestamp) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
<%= paginate @sellers, theme: 'twitter_bootstrap', window: 4 %>
