
<h3>店铺列表</h3>
<table id="sellers" class="table table-bordered">
  <thead>
    <% if @sellers.total_count > @page_size %>
      <tr>
        <td style="text-align:right;" colspan='3'>
         第 <%= @sellers.offset_value + 1 %> - <%= @sellers.offset_value + @page_size %>，共 <%= @sellers.total_count %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>店铺名称</th>
      <th>大促</th>
      <th>#</th>
    </tr>
  <thead>
  <% unless @sellers.empty? %>
    <tbody>
    <% @sellers.each do |seller| %>
        <tr>
          <td><%= link_to seller.seller_nick, seller.store_url %></td>
          <td>
            <% if seller.campaigns.precampaigning.exists? %>
              <ul class='nav nav-list'>
              <% seller.campaigns.precampaigning.each do |campaign| %>
                <li><%= link_to campaign.name, url(:sellers, :show, seller_id: seller._id, campaign_id: campaign._id) %></li>
              <% end %>
              </ul>
            <% end %>
          </td>
          <td>
            <%= link_to '全部货品', url(:sellers, :show, seller_id: seller._id) %>
            <%= link_to "<i class='icon-time'></i>", url(:resque, :index, seller_id: seller._id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="3">没货品～～</td>
    </tr>
  <% end %>
</table>
<%= paginate @sellers, theme: 'twitter_bootstrap', window: 4 %>