<% unless @seller.nil? %>
  <ul class='breadcrumb'>
    <% case %>
    <% when @category %>
      <li><%= link_to @seller.seller_nick, url( :sellers, :show, seller_id: @seller._id ) %><span class='divider'>/</span></li>
      <% if @category.parent %>
        <li><%= link_to @category.parent.cat_name, url( :sellers, :show, seller_id: @seller._id, category_id: @category.parent.cat_id ) %><span class='divider'>/</span></li>
      <% end %>
      <li class='active'><%= @category.cat_name %></li>
    <% when @campaign %>
      <li><%= link_to @seller.seller_nick, url( :sellers, :show, seller_id: @seller._id ) %><span class='divider'>/</span></li>
      <li class='active'><%= @campaign.name %></li>
      <% unless @campaign.plan.nil? %>
        <% @campaign.plan.each do |plan| %>
          <li><span class='divider'>|</span><%= plan %></li>
        <% end %>
      <% end %>
    <% else %>
      <li class='active'><%= @seller.seller_nick %></li>
    <% end %>
  </ul>    

  <table id='items' class='table table-bordered'>
    <thead>
      <tr>
        <th>宝贝ID</th>
        <th>商家编码</th>
        <th>吊牌价</th>
        <th>售价</th>
        <th>快递</th>
        <th>活动</th>
        <th>活动售价</th>
        <th>活动折扣</th>
        <th><%= @campaign ? @campaign.name : '大促' %></th>
        <th>月销量</th>
        <th>总销量</th>
        <th>剩余库存</th>
        <th>收藏数</th>
        <th>SKU数</th>
        <th>标题</th>
        <th>分类</th>
      </tr>
    <thead>
    <% unless @items.empty? %>  
      <tbody>
      <% @items.each do |item| %>
          <tr>
            <td><%= item.num_iid %></td>
            <td><%= item.outer_id %></td>
            <td><%= item.tag_price %></td>
            <td><%= item.price %></td>
            <td><%= "<span class='label label-warning'>包邮</span>" if item.post_fee %></td>
            <% if item.prom_type %>
              <td><%= item.prom_type %></td>
              <td><%= item.prom_price %></td>
              <td><%= item.prom_discount %>%</td>
            <% else %>
              <td colspan='3'> &nbsp; </td>
            <% end %>
            <td>
              <% if @campaign %>

                <% if @campaign.discount < 100 %>
                  <%= (item.tag_price*(@campaign.discount/100.to_f)).round(2) %>
                <% else %>
                  近30天最低
                <% end %>
              <% else %>
                <% unless item.campaigns.campaigning.empty? %>
                  <ul class='nav nav-list'>
                  <% item.campaigns.campaigning.each do |campaign| %>
                    <li><%= link_to campaign.name, url(:sellers, :show, seller_id: @seller._id, campaign_id: campaign._id) %></li>
                  <% end %>
                  </ul>
                <% end %>
              <% end %>
            </td>
            <td><%= item.month_num %></td>
            <td><%= item.total_num %></td>
            <td><%= item.quantity %></td>
            <td><%= item.favs_count %></td>
            <td><%= item.skus_count %></td>
            <td><%= link_to item.title, item.item_url %></td>
            <td>
              <% unless item.categories.empty? %>
                <ul class='nav nav-list'>
                  <% item.categories.each do |category| %>
                    <% if @category &&  category._id == @category._id %>
                      <li id='<%= category.cat_id %>' class='active' ><%= category.cat_name %></li>
                    <% else %>
                      <li id='<%= category.cat_id %>'><%= link_to category.cat_name, url( :sellers, :show, seller_id: @seller._id, category_id: category.cat_id ) %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </td>
          </tr>
          <% unless item.sales.empty? %>
            <% item.sales.each do |sale| %>
              <tr class='warning'>
                <td><%= sale.date %></td>
                <td><%= sale.outer_id %></td>
                <td colspan='2'><%= sale.price %></td>
                <td><%= "<span class='label label-warning'>包邮</span>" if sale.post_fee %></td>
                <% if sale.prom_type %>
                  <td><%= sale.prom_type %></td>
                  <td><%= sale.prom_price %></td>
                  <td><%= sale.prom_discount %>%</td>
                <% else %>
                  <td colspan='3'> &nbsp; </td>
                <% end %>
                <td><%= sale.month_num %></td>
                <td><%= sale.total_num %></td>
                <td><%= sale.quantity %></td>
                <td><%= sale.favs_count %></td>
                <td><%= sale.skus_count %></td>
                <td><%= sale.title %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    <% else %>
      <tr>
        <td colspan='13'>没货品～～</td>
      </tr>
    <% end %>
  </table>
<% end %>