<% unless @seller.nil? %>
  <h3></h3>
  <ul class='breadcrumb'>
    <% if @category %>
      <li><%= link_to @seller.seller_nick, url( :sellers, :show, seller_id: @seller._id ) %><span class='divider'>/</span></li>
      <% if @category.parent %>
        <li><%= link_to @category.parent.cat_name, url( :sellers, :show, seller_id: @seller._id, category_id: @category.parent.cat_id ) %><span class='divider'>/</span></li>
      <% end %>
      <li class='active'><%= @category.cat_name %></li>
    <% else %>
      <li class='active'><%= @seller.seller_nick %></li>
    <% end %>
  </ul>
  <table id='items' class='table table-bordered'>
    <thead>
      <tr>
        <th>宝贝ID</th>
        <th>商家编码</th>
        <th>售价</th>
        <th>快递</th>
        <th>活动</th>
        <th>活动售价</th>
        <th>活动折扣</th>
        <th>月销量</th>
        <th>总销量</th>
        <th>剩余库存</th>
        <th>收藏数</th>
        <th>SKU数</th>
        <th>标题</th>
      </tr>
    <thead>
    <% unless @items.empty? %>
      <tbody>
      <% @items.each do |item| %>
          <tr>
            <td><%= item.num_iid %></td>
            <td><%= item.outer_id %></td>
            <td><%= item.price %></td>
            <td><%= "<span class='label label-warning'>包邮</span>" if item.post_fee %></td>
            <% if item.prom_type %>
              <td><%= item.prom_type %></td>
              <td><%= item.prom_price %></td>
              <td><%= item.prom_discount %>%</td>
            <% else %>
              <td colspan='3'> &nbsp; </td>
            <% end %>
            <td><%= item.month_num %></td>
            <td><%= item.total_num %></td>
            <td><%= item.quantity %></td>
            <td><%= item.favs_count %></td>
            <td><%= item.skus_count %></td>
            <td><%= link_to item.title, item.item_url %></td>
          </tr>
          <% unless item.sales.empty? %>
            <% item.sales.each do |sale| %>
              <tr class='warning'>
                <td><%= distance_of_time_in_words(sale.date) %></td>
                <td><%= sale.outer_id %></td>
                <td><%= sale.price %></td>
                <td><%= "<span class='label label-warning'>包邮</span>" if sale.post_fee %></td>
                <% if sale.prom_type %>
                  <td><%= sale.prom_type %></td>
                  <td><%= sale.prom_price %></td>
                  <td><%= sale.prom_discount %>%</td>
                <% else %>
                  <td colspan='3'> &nbsp; </td>
                <% end %>
                <td><%= sale.month_num %></td>
                <td><%= sale.total_num %></td>
                <td><%= sale.quantity %></td>
                <td><%= sale.favs_count %></td>
                <td><%= sale.skus_count %></td>
                <td><%= sale.title %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    <% else %>
      <tr>
        <td colspan='13'>没货品～～</td>
      </tr>
    <% end %>
  </table>
<% end %>