
<table id='<%= @seller.seller_id %>' class='table table-bordered table-striped table-hover'>
  <thead>
    <tr>
      <th>同步时间</th>
      <th>宝贝数</th>
      <th>在售</th>
      <th>售罄</th>
      <th>下架</th>
      <th>库存</th>
      <th>销售额</th>
      <th>款数</th>
      <th>总销量</th>
      <th>销售额</th>
      <th>收藏量</th>
      <th>促销</th>
    </tr>
  </thead>
  <% unless @seller.timelines.empty? %>
    <tbody>
    <% @seller.timelines.each do |timeline| %>
      <tr id='<%= timeline._id %>'>
       <td><%= local_time(timeline.timestamp) %></td>
       <td><%= timeline.items_count %></td>
       <td><%= timeline.onsales_count %></td>
       <td><%= timeline.soldouts_count %></td>
       <td><%= timeline.inventories_count %></td>

       <td><%= timeline.quantity %></td>
       <td>&nbsp;</td>
       <td><%= timeline.skus_count %></td>
       
       <td><%= timeline.total_num %></td>
       <td>&nbsp;</td>
       <td><%= timeline.favs_count %></td>
        <td>
          <% if timeline.proms.empty? %>
            无
          <% else %>
            <% timeline.proms.each do |prom| %>
              <span class='label badge-inverse'><%= prom %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% unless timeline.increment.nil? %>
        <tr class='warning'>
          <th><%= timeline.increment.duration %>小时，差值</th>
          <td><%= timeline.increment.items_count %></td>
          <td colspan='3'>&nbsp;</td>
          <td><%= timeline.increment.quantity %></td>
          <td><%= timeline.increment.qty_sales.round(2) %></td>
          <td><%= timeline.increment.skus_count %></td>

          <td><%= timeline.increment.total_num %></td>
          <td><%= timeline.increment.total_sales.round(2) %></td>

          <td><%= timeline.increment.favs_count %></td>
          <td>&nbsp;</td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  <% end %>
</table>