<table id="campaigns" class='table table-bordered table-striped table-hover'>
  <thead>
    <tr>
      <th colspan='2'>&nbsp;</th>
      <th colspan='2'><%= @seller.items_count %></th>
      <% if @seller.timelines.empty? %>
        <th colspan='13'>等待数据中...</th>
      <% else %>
        <th><%= @seller.timelines.last.onsales_count %></th>
        <th><%= @seller.timelines.last.soldouts_count %></th>
        <th><%= @seller.timelines.last.inventories_count %></th>
        <th>
          <% if @seller.timelines.last.proms.empty? %>
            无
          <% else %>
            <% @seller.timelines.last.proms.each do |prom| %>
              <span class='label badge-inverse'><%= prom %></span>
            <% end %>
          <% end %>
        </th>
        <th colspan='2'><%= @seller.timelines.last.total_num %></th>
        <th colspan='2'><%= @seller.timelines.last.quantity %></th>
        <th colspan='2'><%= @seller.timelines.last.favs_count %></th>
      <% end %>
    </tr>
    <tr>
      <th>名称</th>
      <th>有效期</th>
      <th>宝贝数</th>
      <th>占比</th>
      <th>在售</th>
      <th>售罄</th>
      <th>下架</th>
      <th>促销</th>
      <th>总销量</th>
      <th>占比</th>
      <th>库存</th>
      <th>占比</th>
      <th>收藏量</th>
      <th>占比</th>
    </tr>
  </thead>
  <% unless @campaigns.empty? %>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr id='<%= campaign._id %>'>
         <td><%= nest_name(campaign.to_s) %></td>
         <td><%= local_time(campaign.start_at.to_i) %> ~ <%= local_time(campaign.end_at.to_i) %></td>
         <td><%= campaign.items_count %></td>
         <td><%= percent(campaign.items_count, @seller.items_count) %></td>
         <% if campaign.timelines.empty? %>
            <td colspan='13'>等待数据中...</td>
         <% else %>
            <td><%= campaign.timelines.last.onsales_count %></td>
            <td><%= campaign.timelines.last.soldouts_count %></td>
            <td><%= campaign.timelines.last.inventories_count %></td>
            <td>
              <% if campaign.timelines.last.proms.empty? %>
                无
              <% else %>
                <% campaign.timelines.last.proms.each do |prom| %>
                  <span class='label badge-inverse'><%= prom %></span>
                <% end %>
              <% end %>
            </td>
           <td><%= campaign.timelines.last.total_num %></td>
           <td><%= percent(campaign.timelines.last.total_num, @seller.timelines.last.total_num) %></td>
           <td><%= campaign.timelines.last.quantity %></td>
           <td><%= percent(campaign.timelines.last.quantity, @seller.timelines.last.quantity) %></td>
           <td><%= campaign.timelines.last.favs_count %></td>
           <td><%= percent(campaign.timelines.last.favs_count, @seller.timelines.last.favs_count) %></td>
         <% end %>
        </tr>
        <% unless campaign.timelines.last.increment.nil? %>
            <tr class='warning'>
              <th><%= campaign.timelines.last.increment.duration %>小时，差值</th>
              <td><%= campaign.timelines.last.increment.items_count %></td>
              <td colspan='3'>&nbsp;</td>
              <td><%= campaign.timelines.last.increment.quantity %></td>
              <td><%= campaign.timelines.last.increment.qty_sales.round(2) %></td>
              <td><%= campaign.timelines.last.increment.skus_count %></td>

              <td><%= campaign.timelines.last.increment.total_num %></td>
              <td><%= campaign.timelines.last.increment.total_sales.round(2) %></td>

              <td><%= campaign.timelines.last.increment.favs_count %></td>
              <td>&nbsp;</td>
            </tr>
          <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>